{% extends 'dashboard.html.twig' %}

{% block header %}
<script
  src="https://code.jquery.com/jquery-2.2.4.min.js"
  integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44="
  crossorigin="anonymous"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/switchery/0.8.2/switchery.min.js"> </script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/switchery/0.8.2/switchery.min.css"/>
  {% block stylesheets %}
      
    {% stylesheets '@AppBundle/Resources/public/css/*' filter='cssrewrite' %}
    <link rel="stylesheet" href="{{ asset_url }}" />
    {% endstylesheets %}
      
     {% endblock %}

{% endblock %}

{% block body %}

<div class="right_col" role="main" style="min-height: 478px;">

        <div class="row">
              <div class="col-md-12 col-sm-12 col-xs-12">
                      <div style="margin-bottom:4px;">  
                <small> <a href="/"> Accueil </a> > <a href="/incident/list"> Liste des incidents </a>  >  <a href="/incident/clore/{{incident.id}}">  <span style="color:red"> Clore un incident ({{incident.titre}})  </span>  </a>  </small>
            </div>
                <div class="x_panel">
                  <div class="x_title">
                    <h2>Clore incident <small> Renseignez la date de la fin d'incident et de la fin d'impact </small></h2>
                    <ul class="nav navbar-right panel_toolbox">
                      <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                      </li>
                    </ul>
                    <div class="clearfix"></div>
                  </div>
                  <div class="x_content">
                    <br>
                    {% for flash_message in app.session.flashBag.get('Erreur') %}
                          <div class="alert alert-danger alert-dismissible fade in" role="alert">
                              {{ flash_message }}
                          </div>
                      {% endfor %}

                        {% for flash_message in app.session.flashBag.get('Notice') %}
                          <div class="alert alert-warning alert-dismissible fade in" role="alert">
                              {{ flash_message }}
                          </div>
                      {% endfor %}

                    
                    <h3> {{ incident.titre }}</h3>
                        <p>
                                Pour clore un incident il est obligatoire de renseigner
                        </p>
                   
                        {{ form_start(form, { 'attr' : { 'id' : 'demo-form2', 'data-parsley-validate': '', 'class' : 'form-horizontal form-label-left', 'novalidate': ''  } }) }}
                 
         
                         <div class="form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12"> Date de fin d'incident <span class="required"> *</span>
                        </label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                                {{ form_widget(form.DateFin, { 'attr' : { 'class' : '', 'required' : 'true', 'style' : 'padding-top:8px;'} } )}}   
                        </div>
                      </div>
                         
                         
                         <div class="form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12"> Date de fin d'impact utilisateur <span class="required"> *</span> 
                        </label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                                {{ form_widget(form.DateFinImpact, { 'attr' : { 'class' : '', 'required' : 'true', 'style' : 'padding-top:8px;'} } )}}   
                        </div>
                      </div>
                         

                
                             

                             


                      
                      <div class="ln_solid"></div>
                      <div class="form-group">
                        <div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-3">
                          <input type="submit" class="btn btn-success" value="Valider">
                        </div>
                      </div>
                     
                        {{ form_end(form) }}
                    
                  </div>
                </div>
              </div>
            </div>

</div>




{% endblock %}

 {% block javascripts %}
            {% javascripts '@AppBundle/Resources/public/js/bootstrap.min.js'
      '@AppBundle/Resources/public/js/custom.min.js'
      '@AppBundle/Resources/public/js/fastclick.js'
      '@AppBundle/Resources/public/js/ngprogress.js'
      '@AppBundle/Resources/public/js/switchery.min.js'
       '@AppBundle/Resources/public/js/fullscreen.js'
      %}
          <script src="{{ asset_url }}"></script>
      {% endjavascripts %}
      {% endblock %}