{% extends 'dashboard.html.twig' %}

{% block header %}

<script
  src="https://code.jquery.com/jquery-2.2.4.min.js"
  integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44="
  crossorigin="anonymous"></script>

<script src="https://cdn.datatables.net/1.10.15/js/jquery.dataTables.min.js"></script>
<link rel="stylesheet" href="https://cdn.datatables.net/1.10.15/css/jquery.dataTables.min.css"/>
<script src="https://cdn.datatables.net/plug-ins/1.10.15/sorting/date-euro.js"></script>

  {% block stylesheets %}

    {% stylesheets '@AppBundle/Resources/public/css/*' filter='cssrewrite' %}
    <link rel="stylesheet" href="{{ asset_url }}" />
    {% endstylesheets %}

     {% endblock %}
<script>
     $(document).ready(function() {
    $('#datatable').DataTable( {
        "order": [[ 4, "desc" ]],
        "columnDefs": [{ "type" : "date-euro", targets: 4}],
        "columnDefs": [{ "type" : "date-euro", targets: 5}]

    } ); 
} );

</script>

{% endblock %}

{% block body %}


<div class="right_col" role="main" style="min-height: 3742px;">
	<div class="col-md-12 col-sm-12 col-xs-12">
	<div style="margin-bottom:4px;">  
  <small> <a href="/"> Accueil </a> >  <a href="/incident/list">  <span style="color:red"> Liste des incidents  </span>  </a>  </small>
</div>
                <div class="x_panel">
                  <div class="x_title">
                    <h2> Suivi des incidents </h2>
                    <ul class="nav navbar-right panel_toolbox">
                      <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                      </li>
                    </ul>
                    <div class="clearfix"></div>
                  </div>
                  <div class="x_content">

                    {% for flash_message in app.session.flashBag.get('Erreur') %}
                          <div class="alert alert-danger alert-dismissible fade in" role="alert">
                              {{ flash_message }}
                          </div>
                      {% endfor %}

                        {% for flash_message in app.session.flashBag.get('Notice') %}
                          <div class="alert alert-warning alert-dismissible fade in" role="alert">
                              {{ flash_message }}
                          </div>
                      {% endfor %}

                          {% for flash_message in app.session.flashBag.get('success') %}
                          <div class="alert alert-success alert-dismissible fade in" role="alert">
                              {{ flash_message }}
                          </div>
                      {% endfor %}



                    <div id="datatable_wrapper" class="dataTables_wrapper form-inline dt-bootstrap no-footer">
						<div class="row">

							<div class="col-sm-6">

							</div>
						</div>
						<div class="row">
							<div class="col-sm-12">
								<table id="datatable" class="table table-striped  dataTable no-footer" role="grid" aria-describedby="datatable_info">

					  <thead>
                        <tr role="row">
												
												<th class="sorting" tabindex="0" aria-controls="datatable" rowspan="1" colspan="1" aria-sort="ascending" aria-label="Name: activate to sort column descending" style="width: 236px;">Titre</th>
												<th class="sorting" tabindex="0" aria-controls="datatable" rowspan="1" colspan="1" aria-sort="ascending" aria-label="Name: activate to sort column descending" style="width: 101px;">Client</th>
												<th class="sorting" tabindex="0" aria-controls="datatable" rowspan="1" colspan="1" aria-label="Position: activate to sort column ascending" style="width: 101px;">REX Jira</th>
												<th class="sorting" tabindex="0" aria-controls="datatable" rowspan="1" colspan="1" aria-label="Office: activate to sort column ascending" style="width: 105px;">Statut</th>
		
												<th class="sorting_desc" tabindex="0" aria-controls="datatable" rowspan="1" colspan="1" aria-label="Position: activate to sort column descending" style="width: 77px;">Date de début</th>
												<th class="sorting" tabindex="0" aria-controls="datatable" rowspan="1" colspan="1" aria-label="Salary: activate to sort column ascending" style="width: 77px;">Date de fin</th>
												<th class="sorting" tabindex="0" aria-controls="datatable" rowspan="1" colspan="1" aria-label="Salary: activate to sort column ascending" style="width: 236px;">Actions</th>
												</tr>
                      </thead>


                      <tbody>

                     		{% for incident in incidents %}
					<tr>
							<td> {{ incident[0].titre }} </td>
							<td> {{ incident[0].client.getClientName() }} </td>
							<td> {{ incident[0].rex }} </td>
							<td> {{ incident[0].statut }} </td>
							<td>
							{% if incident[0].dateDebut != null %}
								{{ incident[0].dateDebut | localizeddate('short', 'short', null) }}
							{% else %}
								<span style="color:red">	En cours  </span>
							{% endif %}
							</td>
							<td>
							{% if incident[0].dateFin != null %}
								{{ incident[0].dateFin | localizeddate('short', 'short', null)}}
							{% else %}
								<span style="color:red">En cours  </span>
							{% endif %}

							</td>

							<td>
               <a href="{{path('pos_add',{'idIncident' : incident[0].Id })}}" class="btn btn-default btn-xs"> <i class="glyphicon glyphicon-plus"></i> Pos </a>

                     <a href="{{path('incident_update',{'idIncident' : incident[0].Id, 'idIncident' :  incident[0].Id })}}" class="btn btn-default btn-xs"><i class="glyphicon glyphicon-pencil"> </i>  Mettre à jour </a>

                       <a href="{{path('incident_clore',{'idIncident' : incident[0].Id, 'idIncident' :  incident[0].Id })}}" class="btn btn-default btn-xs"> <i class="glyphicon glyphicon-thumbs-up"> </i> clore  </a>

                           <a href="{{path('incident_clone',{'idIncident' : incident[0].Id, 'idIncident' :  incident[0].Id })}}" class="btn btn-default btn-xs"> <i class="glyphicon glyphicon-duplicate"> </i>  Cloner </a>

                           {% if user.hasRole('ROLE_ADMIN')%}

                            <a href="{{path('incident_delete',{'idIncident' : incident[0].Id })}}" class="btn btn-default btn-xs" onclick="return confirm('Vous êtes sure de vouloir supprimer lincident ? Cette action est irréversible ')"> <i class="glyphicon glyphicon-trash"></i> Supprimer  </a>

                            {% endif %}
							               <br>
							

							 <a href="{{path('diffusion_send',{'idIncident' : incident[0].Id, 'idClient' :  incident[0].client.getId() })}}" class="btn btn-default btn-xs"> <i class="glyphicon glyphicon-envelope"></i> Envoyer mail </a>




							<a href="{{path('sms_send',{'idIncident' : incident[0].Id })}}" class="btn btn-default btn-xs"><i class="glyphicon glyphicon-mobile"> </i>  Envoyer  SMS </a>
              <a href="{{path('incident_history',{'idIncident' : incident[0].Id })}}" class="btn btn-default btn-xs"> <i class="glyphicon glyphicon-menu-hamburger"></i> Historique </a>
							</td>
              




						</div>
					</tr>
 		{% endfor %}


						</tbody>
                    </table>
					</div></div>


				  </div>



					</div>
                  </div>
                </div>





</div>




{% endblock %}

 {% block javascripts %}
            {% javascripts '@AppBundle/Resources/public/js/bootstrap.min.js'
      '@AppBundle/Resources/public/js/custom.min.js'
      '@AppBundle/Resources/public/js/fastclick.js'
      '@AppBundle/Resources/public/js/ngprogress.js'
      '@AppBundle/Resources/public/js/switchery.min.js'
       '@AppBundle/Resources/public/js/fullscreen.js'
      %}
          <script src="{{ asset_url }}"></script>
      {% endjavascripts %}
      {% endblock %}
