<!DOCTYPE html>
<html lang="en">
  <head>
    {% block header %}
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <!-- Meta, title, CSS, favicons, etc. -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Diffusion </title>
    {% block stylesheets %}

    {% stylesheets '@AppBundle/Resources/public/css/*' filter='cssrewrite' %}
    <link rel="stylesheet" href="{{ asset_url }}" />
    {% endstylesheets %}

     {% endblock %}





     {% endblock%}
  </head>

  <body class="nav-md">
    <div class="container body">
      <div class="main_container">
        <div class="col-md-3 left_col">
          <div class="left_col scroll-view">
            <div class="navbar nav_title" style="border: 0;background-color:#DF3A00">
              <a href="/" class="site_title"><i class="fa fa-paw"></i> <span>C'Diffusion</span></a>
            </div>

            <div class="clearfix"></div>

            <!-- menu profile quick info -->
            <div class="profile clearfix">
              <div class="profile_pic">
                          {% if app.user.photo != null %}
                          <img src="data:image/jpg;base64,{{app.user.photo}}" alt="img" class="img-circle profile_img" />
                          {% else %}
                          <img src="https://cdn0.vox-cdn.com/images/verge/default-avatar.v989902574302a6378709709f7baab789b242ebbb.gif" alt="img" class="img-circle profile_img" />
                          {% endif %}
              </div>
              <div class="profile_info">
                <span>Welcome,</span>
                <h2> {{ app.user.username }} </h2>
              </div>
              <div class="clearfix"></div>
            </div>
            <!-- /menu profile quick info -->

            <br />

            <!-- sidebar menu -->
            <div id="sidebar-menu" class="main_menu_side hidden-print main_menu">
              <div class="menu_section">
                <h3> Menu </h3>
                <ul class="nav side-menu">
                  <li><a><i class="fa fa-bug"></i>Incidents <span class="fa fa-chevron-down"></span></a>
                    <ul class="nav child_menu">
                      <li><a href="/incident/new">Nouvel Incident</a></li>
                      <li><a href="/incident/list">Liste des incidents</a></li>
                      <li><a href="/export"> Exporter les incidents </a> </li>
                    </ul>
                  </li>
                  <li><a><i class="fa fa-info"></i> Information <span class="fa fa-chevron-down"></span></a>
                    <ul class="nav child_menu">
                      <li><a href="{{path('template_add')}}">Nouveau template</a></li>
                      <li><a href="{{path('template_list')}}"> Liste des templates </a></li>
                       

                     
                    </ul>
                  </li>


                </ul>
              </div>
              <div class="menu_section">

              </div>

            </div>
            <!-- /sidebar menu -->

            <!-- /menu footer buttons -->
            <div class="sidebar-footer hidden-small">
             {% if app.user.hasRole('ROLE_ADMIN') %}
              <a href="{{path('settings')}}" data-toggle="tooltip" data-placement="top" title="Settings" style="color:white">
                <span class="glyphicon glyphicon-cog" aria-hidden="true"></span>
              </a>
             {% endif %}
              <a data-toggle="tooltip" data-placement="top" title="FullScreen" onclick="toggleFullScreen(document.body)">
                <span class="glyphicon glyphicon-fullscreen" aria-hidden="true" style="color:white"></span>
              </a>
              <a data-toggle="tooltip" data-placement="top" title="help" target="_blank" style="color:white" href="/help">
                <span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span>
              </a>
              <a data-toggle="tooltip" data-placement="top" title="Logout" href="/logout" style="color:white">
                <span class="glyphicon glyphicon-off" aria-hidden="true"></span>
              </a>
            </div>
            <!-- /menu footer buttons -->
          </div>
        </div>

        <!-- top navigation -->
        <div class="top_nav">
          <div class="nav_menu">
            <nav>
              <div class="nav toggle">
                <a id="menu_toggle"><i class="fa fa-bars"></i></a>
              </div>

              <ul class="nav navbar-nav navbar-right">
                <li class="">
                  <a href="javascript:;" class="user-profile dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                    {% if app.user.photo != null %}
                    <img src="data:image/jpg;base64,{{app.user.photo}}" alt="img"/>
                    {% else %}
                    <img src="https://cdn0.vox-cdn.com/images/verge/default-avatar.v989902574302a6378709709f7baab789b242ebbb.gif" alt="img" />
                    {% endif %}
                    <span  class=" fa fa-angle-down"></span>
                  </a>
                  <ul class="dropdown-menu dropdown-usermenu pull-right">
                  {% if app.user.hasRole('ROLE_ADMIN') %}
                    <li>
                      <a href="{{path('settings')}}">

                        <span>Settings</span>
                        <i style="float: right" class="fa fa-cogs"></i>
                      </a>
                    </li>
                    {% endif %}
                    <li><a target="_blank" href="{{path('help')}}">Help <i class="fa fa-info pull-right"></i></a></li>
                    <li><a href="/logout"><i class="fa fa-sign-out pull-right"></i> Log Out</a></li>
                  </ul>
                </li>


              </ul>
            </nav>
          </div>
        </div>
        <!-- /top navigation -->

        <!-- page content -->
        {% block body%}

        {% endblock %}
        <!-- /page content -->

        <!-- footer content -->
        <footer>
          <div class="pull-right">
          Outil de diffusion <a href="https://cdiscount.com">Cdiscount</a>
          </div>
          <div class="clearfix"></div>
        </footer>
        <!-- /footer content -->
      </div>
    </div>
      {% block javascripts %}
      {% javascripts '@AppBundle/Resources/public/js/*'
       %}
          <script src="{{ asset_url }}"></script>

      {% endjavascripts %}
      {% endblock %}



  </body>
</html>
