{% extends 'dashboard.html.twig' %}

{% block header %}

<script
  src="https://code.jquery.com/jquery-2.2.4.min.js"
  integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44="
  crossorigin="anonymous"></script>


<script src="https://cdn.datatables.net/1.10.15/js/jquery.dataTables.min.js"></script>
<link rel="stylesheet" href="https://cdn.datatables.net/1.10.15/css/jquery.dataTables.min.css"/>
  {% block stylesheets %}
	  
	{% stylesheets '@AppBundle/Resources/public/css/*' filter='cssrewrite' %}
	<link rel="stylesheet" href="{{ asset_url }}" />
	{% endstylesheets %}
	  
	 {% endblock %}


{% endblock %}

{% block body %}




<div class="right_col" role="main">
<div class="col-md-12">
<div style="margin-bottom:4px;">  
                <small> <a href="/"> Accueil </a> > <a href="/incident/list"> Liste des incidents </a>  >  <a href="/incident/history/{{incident.id}}">  <span style="color:red"> Historique de l'incident ({{incident.titre}})  </span>  </a>  </small>
            </div>
	<div class="x_panel">
	  <div class="x_title">
		<h2> Timeline </h2>
		<ul class="nav navbar-right panel_toolbox">
		  <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
		  </li>
		</ul>
		<div class="clearfix"></div>
	  </div>
	  <div class="x_content">
			
<ul class="timeline">
		





		
		{% for  action in history %}
			{% if action.realizedAction is defined %}
					        <li>
						<div class="timeline-badge info"><i class="glyphicon glyphicon-check"></i></div>
						<div class="timeline-panel">
						  <div class="timeline-heading">
							<h4 class="timeline-title"> Point de situation </h4>
							<p><small class="text-muted"><i class="glyphicon glyphicon-time"></i> {{ action.dateEnvoi | localizeddate('short', 'short', null)}}  </small></p>
						  </div>
						  <div class="timeline-body">
							<p> Action réalisée : {{ action.realizedAction }} <br>
							{% if action.nextAction is defined  %}
								Prochaine action  : {{ action.nextAction }}
								<br>
							{% endif %}
							
							{% if action.isResolution  %}
								 Résolu : {{ action.resolutionDate | localizeddate('short', 'short', null)}}
								<br>
							{% else %}
								 Prochain point le : {{ action.nextPosDate | localizeddate('short', 'short', null)}} <br>
							{% endif %}
								réalisé par : {{ action.userDeclare.username }}
								
								
							
							
							
							
								
							</p>
							<hr class="half-rule"/>
							
						  </div>
						</div>
					  </li>
		{% elseif action.text is defined %}					
						<!-- SMS -->
						
			<li class="timeline-inverted">
          <div class="timeline-badge warning"><i class="glyphicon glyphicon-phone"></i></div>
          <div class="timeline-panel">
            <div class="timeline-heading">
              <h4 class="timeline-title">Envoi d'un SMS </h4>
			  <p><small class="text-muted"><i class="glyphicon glyphicon-time"></i> {{ action.dateEnvoi | localizeddate('short', 'short', null)}}  </small></p>
            </div>
            <div class="timeline-body">
             <p>
             	{{action.title}} <br>
				{{ action.text }}
				
				<br/>
				<hr class="half-rule"/>
				Envoyé par : {{ action.emetteur.username }}	
			 </p>
            </div>
        </li>
						
						<!-- SMS END -->
						
						
			{% elseif action.clotureur is defined %}			
						
			<!-- debut Clore -->

				<li class="timeline-inverted">
          <div class="timeline-badge success"><i class="glyphicon glyphicon-thumbs-up"></i></div>
          <div class="timeline-panel">
            <div class="timeline-heading">
              <h4 class="timeline-title"> Incident Résolu </h4>
			  <p><small class="text-muted"><i class="glyphicon glyphicon-time"></i> {{ action.dateEnvoi | localizeddate('short', 'short', null)}}  </small></p>
            </div>
            <div class="timeline-body">
              <p> L'incident est a présent résolu </p>
              Clôturé par : {{ action.clotureur.username }}
            </div>
          </div>
        </li>
							
					<!-- end clore -->		
		{% else  %}
			    <li class="timeline-inverted">
          <div class="timeline-badge warning"><i class="glyphicon glyphicon-envelope"></i></div>
          <div class="timeline-panel">
            <div class="timeline-heading">
              <h4 class="timeline-title">Envoi de mail </h4>
			  <p><small class="text-muted"><i class="glyphicon glyphicon-time"></i> {{ action.dateEnvoi | localizeddate('short', 'short', null)}}  </small></p>
            </div>
            <div class="timeline-body">
             <p>
				{% set mails = action.destEnCopie | split(';') %}
			 <h5> Destinataires : </h5> <br>  {% for mail in mails %}
				 {{ mail }},
				{% endfor %}
				<br/> 
				 <h5> Destinataires d'impact : </h5>
				{% set mails = action.destImpact | split(';') %}
				{% for mail in mails %}
				 {{ mail }},
				 {% endfor %}
				
				<br/>
				<hr class="half-rule"/>
				Envoyé par : {{ action.emetteur.username }}
				<div class="modal fade bs-example-modal-lg" id="{{action.id}}" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
						<div class="modal-dialog modal-lg" role="document">
						  <div class="modal-content">
							{{ action.contenu | raw }}
						  </div>
						</div>
					  </div>

					
				
			 </p>
          <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#{{action.id}}">
			Afficher mail 
		</button>
            </div>
            </div>
        </li>
	{% endif %}
	

{% endfor %}
		
		
					<li>
					<div class="timeline-badge danger"><i class="glyphicon glyphicon-flash"></i></div>
					<div class="timeline-panel">
					  <div class="timeline-heading">
						<h4 class="timeline-title">Déclaration d'incident </h4>
						<p><small class="text-muted"><i class="glyphicon glyphicon-time"></i> {{ incident.dateCreation | localizeddate('short', 'short', null)}} </small></p>
					  </div>
					  <div class="timeline-body">
						  <h2> {{ incident.titre }}  </h2>
						<p>  Impact : {{ incident.impact.nomImpact }}  <br>
							 Declaré par : {{ incident.emetteur.username }}
						</p>
						<hr class="half-rule"/>
						<p>
							 <span style="color:green"> <a href="{{path('incident_update',{'idIncident' : incident.Id,  })}}"> Mettre à jour </a> </span>
						</p>
					 </div>
				 </div>
			</li>

        
 

    </ul>

    


    </div>
</div>
</div>
</div>



<!-- Modal -->


{% endblock %}

 {% block javascripts %}
      {% javascripts '@AppBundle/Resources/public/js/bootstrap.min.js'
      '@AppBundle/Resources/public/js/custom.min.js'
      '@AppBundle/Resources/public/js/fastclick.js'
      '@AppBundle/Resources/public/js/ngprogress.js'
      '@AppBundle/Resources/public/js/switchery.min.js'
      %}
          <script src="{{ asset_url }}"></script>
      {% endjavascripts %}
      {% endblock %}


