{% extends 'dashboard.html.twig' %}

{% block header %}

<script
  src="https://code.jquery.com/jquery-2.2.4.min.js"
  integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44="
  crossorigin="anonymous"></script>


  
  {% block stylesheets %}
	  
	{% stylesheets '@AppBundle/Resources/public/css/*' filter='cssrewrite' %}
	<link rel="stylesheet" href="{{ asset_url }}" />
	{% endstylesheets %}
	  
	 {% endblock %}


{% endblock %}

{% block body %}

<div class="right_col" role="main">
<div class="col-md-12">
	<div class="x_panel">
	  <div class="x_title">
		<h2 style="color:#df3a00"> Bienvenue</h2>
		<ul class="nav navbar-right panel_toolbox">
		  <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
		  </li>
		</ul>
		<div class="clearfix"></div>
	  </div>
	  <div class="x_content">
			
		<div class="animated flipInY col-lg-3 col-md-3 col-sm-6 col-xs-12">
			<a href="/incident/new">
	<div class="tile-stats">
	  <div class="icon">  <i class="fa fa-plus"></i> </div>
	  <div class="count">&nbsp</div>
	  <h3>Ajouter incident</h3>
	  <p>Créer une nouvelle communication sur incident</p>
	</div>
				 </a> 
			  </div>
	
	<a href="/incident/list">
		<div class="animated flipInY col-lg-3 col-md-3 col-sm-6 col-xs-12">
	<div class="tile-stats">
	  <div class="icon"><i class="fa fa-bug"></i></div>
	  <div class="count"> {{ incidents | length }}</div>
	  <h3>
	  {% if incidents | length > 1 %}
	   Incidents en cours
	   {% else %}
	   Incident en cours
	   {% endif %}
	    </h3>
	  <p> 
	  	{% if incidents | length == 1 %}
	  	{{incidents | length}} incident est en cours
	  	{% elseif incidents | length > 1 %}
	  	{{incidents | length}} incidents sont en cours
	  	{% else %}
	  	Aucun incident en cours
	  	{% endif %}
	  </p>
			</div>
		</div>
		</a>
		  
		  <a href="/template/list">
		<div class="animated flipInY col-lg-3 col-md-3 col-sm-6 col-xs-12">
	<div class="tile-stats">
	  <div class="icon"><i class="fa fa-envelope"></i></div>
	  <div class="count">  &nbsp </div>
	  <h3> Mail d'information  </h3>
	  <p> Afficher les templates prédéfinis </p>
			</div>
		</div>
		  </a>
		  
	  </div>
	</div>
			  </div>
	
	<!-- Liste des incidents en cours -->
			<div class="col-md-12">
	<div class="x_panel">
	  <div class="x_title">
		<h2>Incidents en cours</h2>
		<ul class="nav navbar-right panel_toolbox">
		  <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
		  </li>

		</ul>
		<div class="clearfix"></div>
	  </div>
	  <div class="x_content">
			
			<table class="table">
		  <thead>
			<tr>
			  <th> Client </th>
			  <th>Titre</th>
			  <th>Métiers Impactés</th>
			  <th> Prochain POS prévu </th>
			  <th> Impact </th>
			  
			  <th> Actions </th>
			</tr>
		  </thead>
		  <tbody>
			
			
			 {% if incidents %}
				 {% for incident in incidents %}
					<tr>
					 <td> {{ incident.client.clientName}} </td>
					 <td> {{ incident.Titre }}</td>
					 <td>

						 {% if not incident.isApplicationImpact  %}



						 {% for nomMetier in incident.getMetiersImpactes() %}
							<span class="tag">
								{{ nomMetier }}

							</span>
						 {% endfor %}

				
					 {% else %}
					 	 {% for metier in incident.impactMetier %}
							<span class="tag">{{ metier.nomMetier }}</span>
						 {% endfor %}
					 {% endif %}
					 </td>
					 <td>
						{{ incident.getLastPosDate() }}
					 </td>
					 <td>
							{{ incident.impact.nomImpact }}
					 </td>
					 <td>
						<a href="{{path('pos_add',{'idIncident' : incident.Id })}}"" class="btn btn-info btn-xs"><i class="fa fa-info"></i> POS </a>
						<a href="{{path('incident_update',{'idIncident' : incident.Id, 'idClient' :  incident.client.getId() })}}" class="btn btn-info btn-xs"><i class="fa fa-bug"></i> Modifier </a>
						<a href="{{path('diffusion_send',{'idIncident' : incident.Id, 'idClient' :  incident.client.getId() })}}" class="btn btn-info btn-xs"><i class="fa fa-envelope"></i> Email </a>
			
						<a href="{{path('sms_send',{'idIncident' : incident.Id })}}" class="btn btn-info btn-xs"> <i class="glyphicon glyphicon-phone"></i> Envoyer SMS  </a>
					 </td>
					 
		  
	
	
		{% endfor %}
	{% endif %}
		

		  </tbody>
		</table>
		  
		  
	  </div>
	</div>
			  </div>
	
	
	<!-- fin liste des incidents en cours -->

	</div>



  {% endblock %}

 {% block javascripts %}
            {% javascripts '@AppBundle/Resources/public/js/bootstrap.min.js'
      '@AppBundle/Resources/public/js/custom.min.js'
      '@AppBundle/Resources/public/js/fastclick.js'
      '@AppBundle/Resources/public/js/ngprogress.js'
      '@AppBundle/Resources/public/js/switchery.min.js'
      '@AppBundle/Resources/public/js/fullscreen.js'
      %}
          <script src="{{ asset_url }}"></script>
      {% endjavascripts %}
      {% endblock %}
