{% extends 'dashboard.html.twig' %}

{% block header %}

<script
  src="https://code.jquery.com/jquery-2.2.4.min.js"
  integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44="
  crossorigin="anonymous"></script>


  
  {% block stylesheets %}
    
  {% stylesheets '@AppBundle/Resources/public/css/*' filter='cssrewrite' %}
  <link rel="stylesheet" href="{{ asset_url }}" />
  {% endstylesheets %}
    
   {% endblock %}


{% endblock %}

{% block body %}

<div class="right_col" role="main">

<div style="margin-bottom:4px;">  
  <small> <a href="/"> Accueil </a> >  <a href="/settings">  <span style="color:red"> Paramètres  </span>  </a>  </small>
</div>

<div class="col-md-12">
  <div class="x_panel">
    <div class="x_title">
    <h2>Paramètres</h2>
    <ul class="nav navbar-right panel_toolbox">
      <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
      </li>
    </ul>
    <div class="clearfix"></div>
    </div>
    <div class="x_content">
    
      <!-- Gestion des utilisateurs -->
      
    <a href="{{path('user_add')}}"> <div class="col-md-3 col-xs-12 widget widget_tally_box">
                        <div class="x_panel ui-ribbon-container fixed_height_200">
                          <div class="x_title">
              <br>
                            <div class="clearfix"></div>
                          </div>
                          <div class="x_content">

                            <div style="text-align: center; margin-bottom: 17px">
                             <i style="font-size:50px;color: #009688" class="fa fa-users"></i>
                            </div>

                            <h3 class="name_title">Gérer les utilisateurs </h3>
                           

                          </div>
                        </div>
        </div>
    </a>
    
    <!-- Gestion des métiers -->
    <a href="{{path('metier_add')}}">
    <div class="col-md-3 col-xs-12 widget widget_tally_box">
                        <div class="x_panel ui-ribbon-container fixed_height_200">
                          <div class="x_title">
                           <br> 
                            <div class="clearfix"></div>
                          </div>
                          <div class="x_content">

                            <div style="text-align: center; margin-bottom: 17px">
                             <i  style="font-size:50px;color: #009688" class="fa fa-area-chart"></i>
                            </div>

                            <h3 class="name_title">Gérer les métiers </h3> <br>

                          </div>
                        </div>
                      </div>
    </a>
    <!--  Gestion des applications -->
     <a href="{{path('application_add')}}">
      <div class="col-md-3 col-xs-12 widget widget_tally_box">
                        <div class="x_panel ui-ribbon-container fixed_height_200">
                          <div class="x_title">
              <br>
                            <div class="clearfix"></div>
                          </div>
                          <div class="x_content">

                            <div style="text-align: center; margin-bottom: 17px">
                             <i  style="font-size:50px;color: #009688" class="fa fa-desktop"></i>
                            </div>

                            <h3 class="name_title">Gérer les applications </h3>
                            

                          </div>
                        </div>
                      </div>
      </a>
      <!-- Gestion des clients -->
      
          <a href="{{path('client_add')}}">
      <div class="col-md-3 col-xs-12 widget widget_tally_box">
                        <div class="x_panel ui-ribbon-container fixed_height_200">
                          <div class="x_title">
                            <br>
                            <div class="clearfix"></div>
                          </div>
                          <div class="x_content">

                            <div style="text-align: center; margin-bottom: 17px">
                             <i  style="font-size:50px;color: #009688" class="fa fa-child"></i>
                            </div>

                            <h3 class="name_title">Gérer les clients et templates </h3>

                          </div>
                        </div>
                      </div>
    </a>
      <a href="{{path('impact_add')}}">
      <div class="col-md-3 col-xs-12 widget widget_tally_box">
                        <div class="x_panel ui-ribbon-container fixed_height_200">
                          <div class="x_title">
                            <br>
                            <div class="clearfix"></div>
                          </div>
                          <div class="x_content">

                            <div style="text-align: center; margin-bottom: 17px">
                             <i  style="font-size:50px;color: #009688" class="fa fa-crosshairs"></i>
                            </div>

                            <h3 class="name_title">Gérer les impacts </h3> <br>

                          </div>
                        </div>
                      </div>
      </a>
      
      <a href="{{path('categorie_add')}}">
            <div class="col-md-3 col-xs-12 widget widget_tally_box">
                        <div class="x_panel ui-ribbon-container fixed_height_200">
                          <div class="x_title">
                            Espace dédié aux communications d'informations
                            <div class="clearfix"></div>
                          </div>
                          <div class="x_content">

                            <div style="text-align: center; margin-bottom: 17px">
                             <i  style="font-size:50px;color: #009688" class="fa fa-bookmark-o"></i>
                            </div>

                            <h3 class="name_title">Gérer les catégories  </h3>

                          </div>
                        </div>
                      </div>
          </a>
      <a href="{{path('vip_add')}}">
            <div class="col-md-3 col-xs-12 widget widget_tally_box">
                        <div class="x_panel ui-ribbon-container fixed_height_200">
                          <div class="x_title">
                            <br>
                            <div class="clearfix"></div>
                          </div>
                          <div class="x_content">

                            <div style="text-align: center; margin-bottom: 17px">
                             <i  style="font-size:50px;color: #009688" class="fa fa-mobile-phone"></i>
                            </div>

                            <h3 class="name_title">Gérer les contacts SMS  </h3>

                          </div>
                        </div>
                      </div>
          </a>
      <!-- help -->
            <a href="{{path('help_update')}}">
            <div class="col-md-3 col-xs-12 widget widget_tally_box">
                        <div class="x_panel ui-ribbon-container fixed_height_200">
                          <div class="x_title">
                            <br>
                            <div class="clearfix"></div>
                          </div>
                          <div class="x_content">

                            <div style="text-align: center; margin-bottom: 17px">
                             <i  style="font-size:50px;color: #009688" class="fa fa-info"></i>
                            </div>

                            <h3 class="name_title"> Gérer l'aide  </h3>

                          </div>
                        </div>
                      </div>
          </a>
    </div>
    </div>
    </div>
  </div>
</div>
  





  {% endblock %}



 {% block javascripts %}
      {% javascripts '@AppBundle/Resources/public/js/bootstrap.min.js'
      '@AppBundle/Resources/public/js/custom.min.js'
      '@AppBundle/Resources/public/js/fastclick.js'
      '@AppBundle/Resources/public/js/ngprogress.js'
      '@AppBundle/Resources/public/js/switchery.min.js'
       '@AppBundle/Resources/public/js/fullscreen.js'
      %}
          <script src="{{ asset_url }}"></script>
      {% endjavascripts %}
      {% endblock %}
