{% extends 'dashboard.html.twig' %}

{% block header %}
<script
  src="https://code.jquery.com/jquery-2.2.4.min.js"
  integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44="
  crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/switchery/0.8.2/switchery.min.js"> </script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/switchery/0.8.2/switchery.min.css">
<script src="https://cdn.datatables.net/1.10.15/js/jquery.dataTables.min.js"></script>
<link rel="stylesheet" href="https://cdn.datatables.net/1.10.15/css/jquery.dataTables.min.css"/>

  {% block stylesheets %}

    {% stylesheets '@AppBundle/Resources/public/css/*' filter='cssrewrite' %}
    <link rel="stylesheet" href="{{ asset_url }}" />
    {% endstylesheets %}

     {% endblock %}
{% endblock %}

{% block body %}
{{ parent() }}

<!-- Intégration du thème  -->
{{ form_start(addForm) }}
<div class="right_col" role="main">
          <div class="">
            <div class="page-title">
              <div class="title_left">
                <h3>Gestion des utilisateurs</h3>
                <div style="margin-bottom:4px;">  
               <small> <a href="/"> Accueil </a> >  <a href="/settings">  Paramètres   </a> >  <a href="/user/add">  <span style="color:red"> Gestion des utilisateurs  </span>  </a>  </small>
              </div>
              </div>

              <div class="title_right">

              </div>
            </div>

            <div class="clearfix"></div>

            <div class="row">
              <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="x_panel">
                  <div class="x_title">
                    <h2>Ajouter un utilisateur</h2>
                    <ul class="nav navbar-right panel_toolbox">
                      <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                      </li>
                      <li class="dropdown">
                        </i></a>
                    </ul>
                    <div class="clearfix"></div>
                  </div>
                  <div class="x_content">

                      <!--  Affichage du contenu de la page -->

                      <div class="col-md-12 col-sm-12 col-xs-12">
                    <div class="col-md-5 col-sm-5 col-xs-12 form-group pull-right top_search">
                  <div class="input-group">
                    {{ form_widget(addForm.userName, {'attr' : {'class' : 'form-control', 'placeholder' : 'Nom de l\'utilisateur' } }) }}
                    <span class="input-group-btn">
                      <button class="btn btn-default" type="submit">Go!</button>
                    </span>
                  </div>
                </div>
                    {% if  app.request.get('error')  is defined %}
                              {%if app.request.get('error') != "" %}
                          <br><br><br>
                    <div class="alert alert-danger alert-dismissible fade in" role="alert">
                              {{app.request.get('error')}}
                    </div>
                    {% endif %}
                    {% endif %}
                    
                <div class="x_panel">
                  <div class="x_title">
                    <h2>Utilisateurs  <small>Ecrivez le nom de l'utilisateur </small></h2>
                    <ul class="nav navbar-right panel_toolbox">
                      <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                      </li>

                    </ul>
                    <div class="clearfix"></div>
                  </div>
                  <div class="x_content">

                    <table class="table">
                      <thead>
                        <tr>
                          <th>#</th>
                          <th>Nom </th>
                          <th>Prénom</th>
                          <th>Action</th>
                        </tr>
                      </thead>
                      {% if firstname %}
                      <tbody>
                              {% set entries = firstname | length%}
                              {% for i in 0..entries %}
                                        {% if lastname[i] is defined and firstname[i] is defined and username[i] is defined %}
                                          <tr>
                                        <th scope="row"> {{ i }} </th>
                                        <td>{{ lastname[i] }} </td>
                                        <td>{{ firstname[i] }}</td>
                                        <td><a class="btn btn-success btn-sm" href="{{path('user_persist',{'userName' : username[i]})}}"> Ajouter Utilisateur </a></td>
                        </tr>
                                {% endif %}
                              {% endfor %}
                      
                      </tbody>
                    {% else %}
                        <tbody>
                        <tr>
                              <td colspan="4" style="text-align: center"> Aucun utilisateur </td>
                        </tr>
                      </tbody>

                    {% endif %}

                    </table>

                  </div>
                </div>
              </div>
                      {{ form_end(addForm) }}
                      <!-- Fin de l'affichage -->

                  </div>
                </div>
              </div>
            </div>
          </div>
          
           <div class="row">
              <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="x_panel">
                  <div class="x_title">
                  <h2>Liste des utilisateurs </h2>
                    <ul class="nav navbar-right panel_toolbox">
                      <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                      </li>
                    </ul>
                    <div class="clearfix"></div>
                  </div>
                  <div class="x_content">
                    <br>

                      {% for flash_message in app.session.flashBag.get('Erreur') %}
                          <div class="alert alert-danger alert-dismissible fade in" role="alert">
                              {{ flash_message }}
                          </div>
                      {% endfor %}

                        {% for flash_message in app.session.flashBag.get('Notice') %}
                          <div class="alert alert-warning alert-dismissible fade in" role="alert">
                              {{ flash_message }}
                          </div>
                      {% endfor %}




  <table id="datatable" class="table table-striped table-bordered dataTable no-footer" role="grid" aria-describedby="datatable_info">
    <thead>
    <tr role="row">
      <td> Nom </td>
      <td> Prénom </td>
      <td> Privilèges </td>
      <td> Actions </td>
    </tr>
    </thead>

  {% for user in users %}
      {% set data = user[0].userName | split('.') %}
   <tr>
      <td> {{ data[1] }} </td>
      <td>  {{ data[0] }} </td>
      <td> 
          
    
                     {% set link =path('user_previlege',{'user_id' : user[0].Id }) %}
        {% if user[0].hasRole("ROLE_ADMIN") == true %}
                  
                  
                 Utilisateur   <input onChange="document.location.href='{{link}}'" type="checkbox" class="js-switch" checked="" data-switchery="true" style="display: none;"> Administrateur
          {% else %}
                     Utilisateur <input onChange="document.location.href='{{link}}'" type="checkbox"  class="js-switch" data-switchery="false" style="display : none" value="1"> Administrateur
          {% endif %}
          
      </td>
      <td>
          <a href="{{path('user_delete',{'userID' : user[0].Id })}}" class="btn btn-round btn-danger" onclick="return confirm('Confirmez-vous la suppression de cet utilisateur? Attention : Cette action est irréversible.')"> Supprimer Utilisateur </a>
          
          
      </td>
     
        
          


    </tr>
    {% endfor %}
  </table>

                  </div>
                  </div>
                </div>
              </div>
          
        </div>






<!-- fin d'integration du thème -->















{% endblock %}

 {% block javascripts %}
            {% javascripts '@AppBundle/Resources/public/js/bootstrap.min.js'
      '@AppBundle/Resources/public/js/custom.min.js'
      '@AppBundle/Resources/public/js/fastclick.js'
      '@AppBundle/Resources/public/js/ngprogress.js'
      '@AppBundle/Resources/public/js/switchery.min.js'
      '@AppBundle/Resources/public/js/fullscreen.js'
      %}
          <script src="{{ asset_url }}"></script>
      {% endjavascripts %}
      {% endblock %}
