{% extends 'dashboard.html.twig' %}

{% block header %}
<script
  src="https://code.jquery.com/jquery-2.2.4.min.js"
  integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44="
  crossorigin="anonymous"></script>

  
  {% block stylesheets %}
      
    {% stylesheets '@AppBundle/Resources/public/css/*' filter='cssrewrite' %}
    <link rel="stylesheet" href="{{ asset_url }}" />
    {% endstylesheets %}
      
     {% endblock %}
{% endblock %}

{% block body %}

<div class="right_col" role="main" style="min-height: 478px;">

<div style="margin-bottom:4px;">  
               <small> <a href="/"> Accueil </a> >  <a href="/settings">  Paramètres   </a> > <a href="/metier/add"> Gestion des métiers </a> > <a href="/metier/details/{{id}}">  <span style="color:red"> détails du métier ({{nomMetier}})   </span>  </a>  </small>
              </div>


        <div class="row">
              <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="x_panel">
                  <div class="x_title">
                    <h2> Détails du métier  </h2>
                    <ul class="nav navbar-right panel_toolbox">
                      <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                      </li>
                    </ul>
                    <div class="clearfix"></div>
                  </div>
                  <div class="x_content">
                    <br>    

<h1>  {{ metier.nomMetier }} </h1>

    <h3> Détails </h3>
    <b> Liaison Client : </b> {{ metier.client.clientName }} <br>
    <b> Statut : </b> {% if metier.activationStatus %} Activé {% else %} Désactivé  {% endif %}
<p>
    <h3> Applications Concernées </h3>
    <table class='table table-bordered table-hover dataTable'>
        <tr>
            <td> Nom de l'application </td>
            <td> Statut</td>
        </tr>
        
    {% for application in metier.applications %}
        <tr>
            <td> {{ application.nomApplication }}</td>
            <td> {% if application.activationStatus %} Activée {% else %} Désactivée  {% endif %} </td>
        </tr>
    {% endfor %}
    </table>
    <h3> Listes de diffusion </h3>

            
    {% for mailingList in metier.mailingLists | split(';') %}
        {{ mailingList }};
    {% endfor %}
</p>



                  </div>
                  </div>
                </div>
        </div>
    </div>





{% endblock %}

 {% block javascripts %}
      {% javascripts '@AppBundle/Resources/public/js/bootstrap.min.js'
      '@AppBundle/Resources/public/js/custom.min.js'
      '@AppBundle/Resources/public/js/fastclick.js'
      '@AppBundle/Resources/public/js/ngprogress.js'
      '@AppBundle/Resources/public/js/switchery.min.js'
       '@AppBundle/Resources/public/js/fullscreen.js'
      %}
          <script src="{{ asset_url }}"></script>
      {% endjavascripts %}
      {% endblock %}