{% extends 'dashboard.html.twig' %}

{% block header %}
<script
  src="https://code.jquery.com/jquery-2.2.4.min.js"
  integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44="
  crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/switchery/0.8.2/switchery.min.js"> </script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/switchery/0.8.2/switchery.min.css">
  <script src="https://cdn.datatables.net/1.10.15/js/jquery.dataTables.min.js"></script>
<link rel="stylesheet" href="https://cdn.datatables.net/1.10.15/css/jquery.dataTables.min.css"/>
  {% block stylesheets %}
      
    {% stylesheets '@AppBundle/Resources/public/css/*' filter='cssrewrite' %}
    <link rel="stylesheet" href="{{ asset_url }}" />
    {% endstylesheets %}
      
     {% endblock %}
{% endblock %}

{% block body %}
<div class="right_col" role="main" style="min-height: 478px;">
              <div class="title_left">
                <h3>Gestion des métiers </h3>
                <div style="margin-bottom:4px;">  
               <small> <a href="/"> Accueil </a> >  <a href="/settings">  Paramètres   </a> >  <a href="/metier/add">  <span style="color:red"> Gestion des métiers  </span>  </a> </small>
              </div>
              </div>

        <div class="row">
              <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="x_panel">
                  <div class="x_title">
                    <h2> Ajouter un metier  </h2>
                    <ul class="nav navbar-right panel_toolbox">
                      <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                      </li>

                    </ul>
                    <div class="clearfix"></div>
                  </div>
                  <div class="x_content">
                    <br>

                      
                     
                        {% for flash_message in app.session.flashBag.get('error')%}
                        <div class="alert alert-danger alert-dismissible fade in" role="alert">
                          
                              {{ flash_message}}
                              </div>
                         
                      {% endfor %}
                   
                      
                   

                        {% for flash_message in app.session.flashBag.get('success') %}
                          <div class="alert alert-success alert-dismissible fade in" role="alert">
                              {{ flash_message}}
                          </div>
                      {% endfor %}


                    
                     {{ form_start(form, { 'attr' : { 'id' : 'demo-form2', 'data-parsley-date': '', 'class' : 'form-horizontal form-label-left', 'novalidate': ''  } } ) }}

                     
                 
                     
                        <div class="form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="last-name">Nom du métier  <span class="required">*</span>
                        </label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                            {{ form_widget(form.nomMetier, { 'attr' : { 'class' : 'form-control col-md-7 col-xs-12'} } )}}
                        </div>
                      </div>


                               <div class="form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="last-name"> Client <span class="required">*</span>
                        </label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                              {{ form_widget(form.client, { 'attr' : { 'class' : 'form-control col-md-7 col-xs-12'} } )}}
                        </div>
                      </div>

                        
                          <div class="form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="last-name">Liste des applications rattachées 
                        </label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                            {{ form_widget(form.applications, { 'attr' : { 'class' : 'form-control col-md-7 col-xs-12'} } )}}
                        </div>
                      </div>
                          
                           <div class="form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="last-name"> Actif 
                        </label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                            {{ form_widget(form.activationStatus)}} Activé
                        </div>
                      </div>
                           

                             
                        <div class="form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="last-name"> Listes de diffusion  <span class="required">*</span>
                        </label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                              {{ form_widget(form.mailingLists, { 'attr' : { 'class' : 'form-control col-md-7 col-xs-12','margin-bottom':'20px'} } )}} 
                         <center>      <input style="margin-top:20px;"  type="submit" value="Valider" class="btn btn btn-success"> </input>  </center>
                        </div>

                        

                          
                        
                        {{ form_end(form) }}

                        <script>
                        var $client = $('#metier_client');
                        // When sport gets selected ...
                        $client.change(function() {
                          console.log('changed') ;
                          // ... retrieve the corresponding form.
                          var $form = $(this).closest('form');
                          // Simulate form data, but only include the selected sport value.
                          var data = {};
                          data[$client.attr('name')] = $client.val();

                          

                          // Submit data via AJAX to the form's action path.

                          $.ajax({
                            url : $form.attr('action'),
                            type: $form.attr('method'),
                            data : data,
                            success: function(html) {
                              $('#metier_applications').replaceWith(
                                // ... with the returned one from the AJAX response.
                                $(html).find('#metier_applications')
                              );
                              // Position field now displays the appropriate positions.
                            }
                          });
                        });
                        </script>


                  </div>
                </div>
              </div>
        </div>
</div>


       <div class="row">
              <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="x_panel">
                  <div class="x_title">
                    <h2> Liste des métiers   </h2>
                    <ul class="nav navbar-right panel_toolbox">
                      <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                      </li>

                    </ul>
                    <div class="clearfix"></div>
                  </div>
                  <div class="x_content">
                    <br>




  <table id="datatable" class="table table-striped table-bordered dataTable no-footer" role="grid" aria-describedby="datatable_info">
  <thead>
    <tr role="row">
      <td> Nom du métier </td>
      <td> Client </td>
      <td> Etat  </td>
      <td> Liste des applications rattachées </td>
      <td> Les listes de diffusion associées </td>
      <td> Actions </td>
    </tr>
</thead>
<tbody>
    {% for clef, metier in metiers %}
    <tr>
        <td> {{ metier[0].nomMetier }} </td>
        <td> {{ metier[0].client.getClientName() }} </td>
        <td> 

     {% set link =path('metier_deactivate',{'id' : metier[0].Id }) %}
        {% if metier[0].activationStatus == true %}
                  
                  
                 Inactif   <input onChange="document.location.href='{{link}}'" type="checkbox" class="js-switch" checked="" data-switchery="true" style="display: none;"> Actif
          {% else %}
                     Inactif <input onChange="document.location.href='{{link}}'" type="checkbox"  class="js-switch" data-switchery="false" style="display : none" value="1"> Actif
          {% endif %}

    </td>

        </td>
        <td>
          <ul style="list-style-type:none">
            {% for application in metier[0].applications %}
              <li>  {{application.nomApplication}} </li>
            {% endfor %}
          </ul>
         </td>

         <td>
            {% set mailingLists = metier[0].mailingLists|split(';') %}
            <ul>
            {% for mailingList in mailingLists %}
            <li> {{ mailingList }}</li> 
            {% endfor %}
            </ul>

         </td>


        <td>

               <a class="btn btn-round btn-info" href="{{path('metier_details',{'idMetier' : metier[0].id })}}">  Détails </a> 
               <a class="btn btn-round btn-warning" href="{{path('metier_update',{'idMetier' : metier[0].id })}}"> Mettre à jour </a> 
 
          </td>
    </tr>
    {% endfor %}
<tbody>
  </table>

                  </div>
                  </div>
                </div>
              </div>

</div>





{% endblock %}

 {% block javascripts %}
      {% javascripts '@AppBundle/Resources/public/js/bootstrap.min.js'
      '@AppBundle/Resources/public/js/custom.min.js'
      '@AppBundle/Resources/public/js/fastclick.js'
      '@AppBundle/Resources/public/js/ngprogress.js'
      '@AppBundle/Resources/public/js/switchery.min.js'
       '@AppBundle/Resources/public/js/fullscreen.js'
      %}
          <script src="{{ asset_url }}"></script>
      {% endjavascripts %}
      {% endblock %}