{% extends 'dashboard.html.twig' %}

{% block header %}
<script
  src="https://code.jquery.com/jquery-2.2.4.min.js"
  integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44="
  crossorigin="anonymous"></script>


  
  {% block stylesheets %}
      
    {% stylesheets '@AppBundle/Resources/public/css/*' filter='cssrewrite' %}
    <link rel="stylesheet" href="{{ asset_url }}" />
    {% endstylesheets %}
      
     {% endblock %}
{% endblock %}

{% block body %}

<div class="right_col" role="main" style="min-height: 478px;">



    <div style="margin-bottom:4px;"> 
    <small> <a href="/"> Accueil </a> > <a href="/incident/list"> Liste des incidents </a>  >  <a href="/diffusion/send/{{incident.id}}/{{incident.client.id}}">  <span style="color:red"> Envoyer un mail ({{incident.titre}})  </span>  </a>  </small>
    </div>
        <div class="row">
              <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="x_panel">
                  <div class="x_title">
                    

                    <div class="clearfix"></div>
                  </div>
                  <div class="x_content">
                    <br>
		    
                    {% for flash_message in app.session.flashBag.get('Erreur') %}
                          <div class="alert alert-danger alert-dismissible fade in" role="alert">
                              {{ flash_message }}
                          </div>
                      {% endfor %}

                        {% for flash_message in app.session.flashBag.get('Notice') %}
                          <div class="alert alert-warning alert-dismissible fade in" role="alert">
                              {{ flash_message }}
                          </div>
                      {% endfor %}

                      {% for flash_message in app.session.flashBag.get('success') %}
                          <div class="alert alert-success alert-dismissible fade in" role="alert">
                              {{ flash_message }}
                          </div>
                      {% endfor %}


<h1> Envoyer un mail  </h1>




{{ form_start(addForm) }}
<label for="diffusion[destEnCopie][]"> Expéditeur </label>
{{form_widget(addForm.destinataire, { 'attr' : { 'class' : 'form-control'}  })  }}
<label for="diffusion[destinataire]"> Destinataires en copie </label>
{{form_widget(addForm.destEnCopie, { 'attr' : { 'class' : 'select2_multiple form-control' ,'style' : 'height:200px;'}  })  }}
<label for="diffusion[sujet]"> Sujet </label>
{{form_widget(addForm.sujet, { 'attr' : { 'class' : 'form-control'}  })  }}
<label for="diffusion[destImpact]"> Destinataires d'impact  </label>
{{form_widget(addForm.destImpact, { 'attr' : { 'class' : 'form-control'}  })  }}


<br>

{{form_widget(addForm.contenu) }}




{{ form_widget(addForm) }}
<br>
<input type='submit' value="Envoyer" class="btn btn-success btn-lg">
{{ form_end(addForm) }}





                  </div>
                  </div>
                </div>
              </div>
        </div>




{% endblock %}

{% block javascripts %}
            {% javascripts '@AppBundle/Resources/public/js/bootstrap.min.js'
      '@AppBundle/Resources/public/js/custom.min.js'
      '@AppBundle/Resources/public/js/fastclick.js'
      '@AppBundle/Resources/public/js/ngprogress.js'
      '@AppBundle/Resources/public/js/switchery.min.js'
      '@AppBundle/Resources/public/js/script.js'
       '@AppBundle/Resources/public/js/fullscreen.js'
      %}
          <script src="{{ asset_url }}"></script>
      {% endjavascripts %}
      {% endblock %}
