{% extends 'dashboard.html.twig' %}

{% block header %}

<script
  src="https://code.jquery.com/jquery-2.2.4.min.js"
  integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44="
  crossorigin="anonymous"></script>


<script src="https://cdn.datatables.net/1.10.15/js/jquery.dataTables.min.js"></script>
<link rel="stylesheet" href="https://cdn.datatables.net/1.10.15/css/jquery.dataTables.min.css"/>
  {% block stylesheets %}
	  
	{% stylesheets '@AppBundle/Resources/public/css/*' filter='cssrewrite' %}
	<link rel="stylesheet" href="{{ asset_url }}" />
	{% endstylesheets %}
	  
	 {% endblock %}


{% endblock %}

{% block body %}




<div class="right_col" role="main">
<div class="col-md-12">
				<div style="margin-bottom:4px;">  
                <small> <a href="/"> Accueil </a> > <a href="/template/list"> Liste des templates </a>  >  <a href="/information/diffusion/history/{{template.id}}">  <span style="color:red"> Historique des diffusions ({{template.sujet}})  </span>  </a>  </small>
            </div>
	<div class="x_panel">
	  <div class="x_title">
		<h2> Timeline </h2>
		<ul class="nav navbar-right panel_toolbox">
		  <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
		  </li>
		  </li>
		</ul>
		<div class="clearfix"></div>
	  </div>
	  <div class="x_content">
			
<ul class="timeline">
		
		
		{% for  action in history %}
			{% if action.id % 2 == 0 %}
					        <li>
						<div class="timeline-badge info"><i class="glyphicon glyphicon-envelope"></i></div>
						<div class="timeline-panel">
						  <div class="timeline-heading">
							<h4 class="timeline-title"> Envoi de mail </h4>
							<p><small class="text-muted"><i class="glyphicon glyphicon-time"></i> {{ action.dateEnvoi | date("F jS \\a\\t g:ia","Europe/Paris")}}  </small></p>
						  </div>
            <div class="timeline-body">
             <p>
			 <h5> Destinataires : </h5> 
				 {{ action.destinataire }}

				<br/> 
				 <h5> Destinataires CC : </h5>
				{{ action.destEnCopie }}
				
				<br/>
				<hr class="half-rule"/>
				<h5> Categorie :
					{% for categorie in action.template.categorie %}
						{{ categorie.nomCategorie }}
					{% endfor %}
				</h5>
				<p> Envoyé par : {{ action.emetteur }}</p> <br>
				<div class="modal fade bs-example-modal-lg" id="{{action.id}}" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
						<div class="modal-dialog modal-lg" role="document">
						  <div class="modal-content">
							{{ action.contenu | raw }}
						  </div>
						</div>
					  </div>

					
				
				</p>
					 <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#{{action.id}}">
					Afficher mail 
				</button>
            </div>
						</div>
					  </li>
		{% else  %}
			    <li class="timeline-inverted">
          <div class="timeline-badge warning"><i class="glyphicon glyphicon-envelope"></i></div>
          <div class="timeline-panel">
            <div class="timeline-heading">
              <h4 class="timeline-title">Envoi de mail </h4>
			  <p><small class="text-muted"><i class="glyphicon glyphicon-time"></i> {{ action.dateEnvoi | date("F jS \\a\\t g:ia","Europe/Paris")}}  </small></p>
            </div>
            <div class="timeline-body">
             <p>
			 <h5> Destinataires : </h5> 
				 {{ action.destinataire }}

				<br/> 
				 <h5> Destinataires CC : </h5>
				{{ action.destEnCopie }}
				
				<br/>
				<hr class="half-rule"/>
				<h5>
					{% for categorie in action.template.categorie %}
						{{ categorie.nomCategorie }}
					{% endfor %}
				</h5>
				<p> Envoyé par : {{ action.emetteur }}</p><br>
				<div class="modal fade bs-example-modal-lg" id="{{action.id}}" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
						<div class="modal-dialog modal-lg" role="document">
						  <div class="modal-content">
							{{ action.contenu | raw }}
						  </div>
						</div>
					  </div>

					
				
				</p>
					 <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#{{action.id}}">
					Afficher mail 
				</button>
            </div>
        </li>
	{% endif %}
	

{% endfor %}
		
					<li>
					<div class="timeline-badge danger"><i class="glyphicon glyphicon-flash"></i></div>
					<div class="timeline-panel">
					  <div class="timeline-heading">
						<h4 class="timeline-title"> Création du template </h4>
						<p><small class="text-muted"><i class="glyphicon glyphicon-time"></i> {{ template.dateCreation | date("F jS \\a\\t g:ia","Europe/Paris")}} </small></p>
					  </div>
					  <div class="timeline-body">
					
							 Créé par : {{template.emetteur.username}}
						</p>
					 </div>
				 </div>
			</li>
        
 

    </ul>

    


    </div>
</div>
</div>
</div>



<!-- Modal -->


{% endblock %}

 {% block javascripts %}
      {% javascripts '@AppBundle/Resources/public/js/bootstrap.min.js'
      '@AppBundle/Resources/public/js/custom.min.js'
      '@AppBundle/Resources/public/js/fastclick.js'
      '@AppBundle/Resources/public/js/ngprogress.js'
      '@AppBundle/Resources/public/js/switchery.min.js'
       '@AppBundle/Resources/public/js/fullscreen.js'
      %}
          <script src="{{ asset_url }}"></script>
      {% endjavascripts %}
      {% endblock %}



