{% extends 'dashboard.html.twig' %}

{% block header %}
<script
  src="https://code.jquery.com/jquery-2.2.4.min.js"
  integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44="
  crossorigin="anonymous"></script>

  
  {% block stylesheets %}
      
    {% stylesheets '@AppBundle/Resources/public/css/*' filter='cssrewrite' %}
    <link rel="stylesheet" href="{{ asset_url }}" />
    {% endstylesheets %}
      
     {% endblock %}
{% endblock %}

{% block body %}
<div class="right_col" role="main" style="min-height: 3742px;">
	<div class="col-md-12 col-sm-12 col-xs-12">
                <div class="x_panel">
                  <div class="x_title">
                    <h2> Applications </h2>


<table class="table">
<tr>
<td> NAME </td>
<td> SITUATION </td>
<td> ACTION </td>
</tr>

{% for application in applications %}
	<tr>
		<td> {{ application[0].nomApplication }} </td>
		<td> {% if application[0].activationStatus %} Active {% else %} Inactive {% endif %} </td>
	  <td> <a class="btn btn-round btn-primary" href="{{path('application_deactivate',{'id' : application[0].id })}}"> Activer/Desactiver </a>
			<a class="btn btn-round btn-success" href="{{path('application_details',{'id' : application[0].id })}}"> Détails </a>
			<a class="btn btn-round btn-sucess" href="{{path('application_update',{'idApplication' : application[0].id })}}"> Mettre à jour </a>
			
	  </td>
	  
	  
{% endfor %}

</table>
				  </div>
	</div>
	</div>
</div>




{% endblock %}
    {% block javascripts %}
	    {% javascripts '@AppBundle/Resources/public/js/*' %}
	        <script src="{{ asset_url }}"></script>
	    {% endjavascripts %}
      {% endblock %}
