{% extends 'dashboard.html.twig' %}

{% block header %}
<script
  src="https://code.jquery.com/jquery-2.2.4.min.js"
  integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44="
  crossorigin="anonymous"></script>


  
  {% block stylesheets %}
      
    {% stylesheets '@AppBundle/Resources/public/css/*' filter='cssrewrite' %}
    <link rel="stylesheet" href="{{ asset_url }}" />
    {% endstylesheets %}
{% endblock %}
{% endblock %}

{% block body %}

<div class="right_col" role="main" style="min-height: 478px;">

<div style="margin-bottom:4px;">  
               <small> <a href="/"> Accueil </a> >  <a href="/settings">  Paramètres   </a> > <a href="/application/add"> Gestion des applications </a> > <a href="/application/details/{{id}}">  <span style="color:red"> Détails de l'application ({{nomApplication}})   </span>  </a>  </small>
              </div>

        <div class="row">
              <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="x_panel">
                  <div class="x_title">
                    <h2> {{ application.nomApplication }}   </h2>
                    <ul class="nav navbar-right panel_toolbox">
                      <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                      </li>   
                    </ul>
                    <div class="clearfix"></div>
                  </div>
                  <div class="x_content">
                    <br>




    <h3> Détails </h3>
    <b> Liaison Metier : </b>  
    
    {%  for metier in application.metiers %}
        {{ metier.nomMetier }},

    {% endfor %}
    
     <br>
    <b> Statut : </b> {% if application.activationStatus %} Activée {% else %} Désactivée  {% endif %}
        
<p>
    Voici les listes de mails associées à ces applications : <br>

            {% for mailingList in mailingLists %}
               {% if  mailingList!="" %}
                {{ mailingList}}
                <br>
               {% endif  %}
                 
                
            {% endfor %}

  
</p>

                  </div>
                </div>
              </div>
        </div>
</div>



{% endblock %}

 {% block javascripts %}
            {% javascripts '@AppBundle/Resources/public/js/bootstrap.min.js'
      '@AppBundle/Resources/public/js/custom.min.js'
      '@AppBundle/Resources/public/js/fastclick.js'
      '@AppBundle/Resources/public/js/ngprogress.js'
      '@AppBundle/Resources/public/js/switchery.min.js'
       '@AppBundle/Resources/public/js/fullscreen.js'
      %}
          <script src="{{ asset_url }}"></script>
      {% endjavascripts %}
      {% endblock %}
