{% extends 'dashboard.html.twig' %}

{% block header %}
    <script
  src="https://code.jquery.com/jquery-2.2.4.min.js"
  integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44="
  crossorigin="anonymous"></script>
<script src="https://cdn.datatables.net/1.10.15/js/jquery.dataTables.min.js"></script>
<link rel="stylesheet" href="https://cdn.datatables.net/1.10.15/css/jquery.dataTables.min.css"/>

<script src="https://cdnjs.cloudflare.com/ajax/libs/switchery/0.8.2/switchery.min.js"> </script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/switchery/0.8.2/switchery.min.css">

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/pnotify/3.2.1/pnotify.css"/>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/pnotify/3.2.1/pnotify.buttons.css"/>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/pnotify/3.2.1/pnotify.nonblock.css"/>


<script src="https://cdnjs.cloudflare.com/ajax/libs/pnotify/3.2.1/pnotify.buttons.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/pnotify/3.2.1/pnotify.nonblock.js"></script>




</script> 
  
  {% block stylesheets %}
      
    {% stylesheets '@AppBundle/Resources/public/css/*' filter='cssrewrite' %}
    <link rel="stylesheet" href="{{ asset_url }}" />
    {% endstylesheets %}
      
     {% endblock %}
{% endblock %}

{% block body %}

{% set pageTitle = "Ajouter Client "%}

<div class="right_col" role="main" style="min-height: 478px;">
              <div class="title_left">
                <h3>Gérer les clients et templates </h3>
                <div style="margin-bottom:4px;">  
               <small> <a href="/"> Accueil </a> >  <a href="/settings">  Paramètres   </a> >  <a href="/client/add">  <span style="color:red"> Gérer les clients et templates  </span>  </a>  </small>
              </div>
              </div>
        <div class="row">
              <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="x_panel">
                  <div class="x_title">
                    <h2> Ajouter client </h2>
                    <ul class="nav navbar-right panel_toolbox">
                      <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                      </li>
                    </ul>
                    <div class="clearfix"></div>
                  </div>
                  <div class="x_content">
                    <br>

		    
                    {% for flash_message in app.session.flashBag.get('Erreur') %}
                          <div class="alert alert-danger alert-dismissible fade in" role="alert">
                              {{ flash_message }}
                          </div>
                      {% endfor %}

                        {% for flash_message in app.session.flashBag.get('Notice') %}
                          <div class="alert alert-warning alert-dismissible fade in" role="alert">
                              {{ flash_message }}
                          </div>
                      {% endfor %}

                       {% for flash_message in app.session.flashBag.get('success') %}
                          <div class="alert alert-success alert-dismissible fade in" role="alert">
                              {{ flash_message }}
                          </div>
                      {% endfor %}




 {{ form_start(form, { 'attr' : { 'id' : 'demo-form2', 'data-parsley-validate': '', 'class' : 'form-horizontal form-label-left', 'novalidate': ''  } } ) }}

  <div class="form-group">
    <label class="control-label col-xl-md-3 col-sm-3 col-xs-12" for="last-name"> Nom du client  <span class="required">*</span>
	</label>
    <div class="col-md-6 col-sm-6 col-xs-12">
	{{ form_widget(form.clientName, {'attr' : {'class' : 'form-control col-md-7 col-xs-12', 'placeholder' : 'Nom Client' } }) }}
    </div>
 </div>


  <div class="form-group">
    <label class="control-label col-md-3 col-sm-3 col-xs-12" for="last-name"> Actif 
  </label>
    <div class="col-md-6 col-sm-6 col-xs-12">
  {{ form_widget(form.activationStatus, {'attr' : { } }) }}
    </div>
 </div>
  
  
    <div class="form-group">
    <label class="control-label col-md-3 col-sm-3 col-xs-12" for="last-name"> Langue <span class="required">*</span>
	</label>
    <div class="col-md-6 col-sm-6 col-xs-12">
	{{ form_widget(form.lang, {'attr' : {'class' : 'form-control col-md-7 col-xs-12', 'placeholder' : 'ex. FR,EN' } }) }}
    </div>
 </div>
    
    <div class="form-group">
    <label class="control-label col-md-3 col-sm-3 col-xs-12" for="last-name"> Fuseau horaire  <span class="required">*</span>
	</label>
    <div class="col-md-6 col-sm-6 col-xs-12">
	{{ form_widget(form.timezone, {'attr' : {'class' : 'form-control col-md-7 col-xs-12', 'placeholder' : 'Timezone' } }) }}
    </div>
 </div>
    
 <div class="form-group">
    <label class="control-label col-md-3 col-sm-3 col-xs-12" for="last-name"> Sujet <span class="required">*</span>
	</label>
    <div class="col-md-6 col-sm-6 col-xs-12">
	{{ form_widget(form.templateSubject, {'attr' : {'class' : 'form-control col-md-7 col-xs-12', 'placeholder' : 'Sujet pour le mail' } }) }}
    </div>
 </div>
 
  <div class="form-group">

    <label class="control-label col-md-3 col-sm-3 col-xs-12" for="last-name"> Template <span class="required">*</span>
	</label>
                        <button  type="button" class="btn btn-default source" onclick="new PNotify({
                                  title: 'Voici les variables à utiliser pour la création du template',
                                  text: `
                    <ul> 
                      <li> Nom du client :  $__client </li>
                      <li> Titre de l'incident :  $__titre </li>
                      <li> Etat de l'incident : $__statut </li>
                      <li> Temps de résolution approximatif : $__duree </li> 
                      <li> Description technique de l'incident : $__desc </li>
                      <li> Ressenti utilisateur : $__ressentiUtilisateur </li>  
                      <li> Date de début de l'incident : $__dateDebut </li> 
                      <li> Date de la fin de l'incident : $__dateFin </li>
                      <li> Phrase d'introduction : $__intro </li> 
                      <li> Point de situation : $__pos </li>  
                    </ul> 

                                  `,
                                  type: 'info',
                                  styling: 'bootstrap3'
                              });">Afficher les variables</button>

    <div class="col-md-6 col-sm-6 col-xs-12">

	{{ form_widget(form.template)}} 
    </div>
 </div>
    <div class="form-group">
    <label class="control-label col-md-3 col-sm-3 col-xs-12" for="last-name">  <span class="required"></span>
	</label>
    <div class="col-md-6 col-sm-6 col-xs-12">
	  <center>  <input type="submit" class="btn btn-success" value="Valider"> </input> </center>
    </div>
 </div>





{{ form_end(form) }}

                  </div>
                  </div>
                </div>
              </div>


<div class="row">
              <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="x_panel">
                  <div class="x_title">
                    <h2>Liste des clients </h2>
                    <ul class="nav navbar-right panel_toolbox">
                      <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                      </li>

                    </ul>
                    <div class="clearfix"></div>
                  </div>
                  <div class="x_content">
                    <br>

  
            
<table id="datatable" class="table table-striped table-bordered dataTable no-footer" role="grid" aria-describedby="datatable_info">
 <thead>
    <tr role="row">
      <td> Nom du client </td>
      <td> Etat </td>
      <td> Langue </td>
      <td> Fuseau horaire</td>
      <td> Action </td>
    </tr>
</thead>

 <tbody>
    {% for clef, client in clients %}
    <tr>
        <td> {{ client[0].clientName }} </td>
        <td> 

     {% set link =path('client_deactivate',{'id' : client[0].Id }) %}
        {% if client[0].activationStatus == true %}
                  
                  
                 Inactif   <input onChange="document.location.href='{{link}}'" type="checkbox" class="js-switch" checked="" data-switchery="true" style="display: none;"> Actif
          {% else %}
                     Inactif <input onChange="document.location.href='{{link}}'" type="checkbox"  class="js-switch" data-switchery="false" style="display : none" value="1"> Actif
          {% endif %}

    </td>
        <td> {{ client[0].lang }} </td>
        <td> {{ client[0].timezone }} </td>
        <td>

            <a class="btn btn-round btn-warning" href="{{path('client_update',{'idClient' : client[0].id })}}"> Modifier client/template </a> 
        </td>
    </tr>
    {% endfor %}
 </tbody>
</table>


                  </div>
                  </div>
                </div>
        </div>
        </div>

{% endblock %}


 {% block javascripts %}
      {% javascripts '@AppBundle/Resources/public/js/bootstrap.min.js'
      '@AppBundle/Resources/public/js/custom.min.js'
      '@AppBundle/Resources/public/js/fastclick.js'
      '@AppBundle/Resources/public/js/ngprogress.js'
      '@AppBundle/Resources/public/js/switchery.min.js'
       '@AppBundle/Resources/public/js/fullscreen.js'
       '@AppBundle/Resources/public/js/pnotify.js'
      %}
          <script src="{{ asset_url }}"></script>
      {% endjavascripts %}
      {% endblock %}