{% extends 'dashboard.html.twig' %}

{% block header %}
<script
  src="https://code.jquery.com/jquery-2.2.4.min.js"
  integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44="
  crossorigin="anonymous"></script>


  
  {% block stylesheets %}
      
    {% stylesheets '@AppBundle/Resources/public/css/*' filter='cssrewrite' %}
    <link rel="stylesheet" href="{{ asset_url }}" />
    {% endstylesheets %}
      
     {% endblock %}
{% endblock %}

{% block body %}

<div class="right_col" role="main" style="min-height: 478px;">

        <div class="row">
              <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="x_panel">
                  <div class="x_title">
                    <h2>Ajouter Incident <small>Décrire l'incident en Français</small></h2>
                    <ul class="nav navbar-right panel_toolbox">
                      <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                      </li>
                      <li><a class="close-link"><i class="fa fa-close"></i></a>
                      </li>
                    </ul>
                    <div class="clearfix"></div>
                  </div>
                  <div class="x_content">
                    <br>

              <h3 class="box-title"> Client</h3>
            
<table class="table table-bordered table-hover dataTable">
    <tr>
      <td> NOM </td>
      <td> LANGUE </td>
      <td> ACTION </td>
    </tr>

    {% for clef, client in clients %}
    <tr>
        <td> {{ client[0].clientName }} </td>
        <td> {{ client[0].lang }} </td>
        <td>
            <a class="btn btn-round btn-danger" href="{{path('incident_add',{'idClient' : client[0].id })}}"> Ajouter Incident </a>
            <a class="btn btn-round btn-warning" href="{{path('client_update',{'idClient' : client[0].id })}}"> Modifier Client </a> 
        </td>
    </tr>
    {% endfor %}

</table>


                  </div>
                  </div>
                </div>
        </div>
        </div>


{% endblock %}

   {% block javascripts %}
	    {% javascripts '@AppBundle/Resources/public/js/*' %}
	        <script src="{{ asset_url }}"></script>
	    {% endjavascripts %}
      {% endblock %}