
#incident_Type_0{
    margin-right: 2px;
}

#incident_Type_1{
    margin-left: 10px;
    margin-right: 2px;
}

#incident_Type_2{
    margin-left: 10px;
    margin-right: 2px;
}

#incident_DateDebut_date{
    display: inline;
    margin-right: 10px;
    margin-left: 10px;
}

#incident_DateDebut_time{
    display: inline ;
    float: right;
}

#incident_DateDebutImpact_date{
    display: inline;
    margin-right: 10px;
    margin-left: 10px;
}

#incident_DateDebutImpact_time{
    display: inline ;
    float: right;
}

#incident_DateFinImpact_date{
    display: inline;
    margin-right: 10px;
    margin-left: 10px;
}

#incident_DateFinImpact_time{
    display: inline ;
    float: right;
}

#incident_DateFin_date{
    display: inline;
    margin-right: 10px;
    margin-left: 10px;
}

#incident_DateFin_time{
    display: inline ;
    float: right;
}


#pos_resolutionDate_date{
    display: inline;
    margin-right: 10px;
    margin-left: 10px;
}

#pos_resolutionDate_time{
    display: inline ;

}


#pos_nextPosDate_date{
    display: inline;
    margin-right: 10px;
    margin-left: 10px;
}

#pos_nextPosDate_time{
    display: inline ;

}


.form-group{
    margin-bottom: 20px;
    
}

#closing_DateFin_date{
    display: inline;
    margin-right: 10px;
    margin-left: 10px;
}

#closing_DateFin_time{
    display: inline ;
}

#closing_DateFinImpact_date{
    display: inline;
    margin-right: 10px;
    margin-left: 10px;
}

#closing_DateFinImpact_time{
    display: inline ;

}

#information_diffusion_variables label{
    display: block;
}

#information_diffusion_variables input{
    margin-left: 10px;
    margin-bottom: 10px;
}

