{% extends 'dashboard.html.twig' %}

{% block header %}
<script
  src="https://code.jquery.com/jquery-2.2.4.min.js"
  integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44="
  crossorigin="anonymous"></script>


  
  {% block stylesheets %}
      
    {% stylesheets '@AppBundle/Resources/public/css/*' filter='cssrewrite' %}
    <link rel="stylesheet" href="{{ asset_url }}" />
    {% endstylesheets %}
      
     {% endblock %}
     
{% endblock %}

{% block body %}
  
  
  <div class="right_col" role="main" style="min-height: 478px;">

        <div class="row">
              <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="x_panel">
                  <div class="x_title">
                    <h2> Gestion des impacts  </h2>
                    <ul class="nav navbar-right panel_toolbox">
                      <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                      </li>
                    </ul>
                    <div class="clearfix"></div>
                  </div>
                  <div class="x_content">
                    <br>


<h1> Supprimer ou désactiver un impact </h1>


  <table class="table table-bordered table-hover dataTable">
    <tr>
      <td> Nom de l'impact </td>
      <td> Client </td>
      <td> Actif </td>
      <td> LISTES DE DIFFUSIONS </td>
      <td> ACTION </td>
    </tr>

    {% for clef, impact in impacts %}
    <tr>
        <td> {{ impact.nomImpact }} </td>
        <td> {{ impact.client.getClientName() }} </td>
        <td> {% if impact.activationStatus %} Activé {% else %} Désactivé {% endif %}  </td>
        <td>
          <ul style="list-style-type:none">
            {% for mailinglist in impact.mailingList | split(';') %}
              <li>  {{mailinglist}} </li>
            {% endfor %}
          </ul>
         </td>
        <td>

               <a class="btn btn btn-info" href="{{path('impact_details',{'idImpact' : impact.id })}}"> Afficher détails </a> 
              <a  class="btn btn btn-warning" href="{{path('impact_activate',{'idImpact' : impact.id })}}"> Activer/Descativer </a> 
               <a class="btn btn btn-success" href="{{path('impact_update',{'idImpact' : impact.id })}}"> Mettre à jour </a> 
               <a class="btn btn btn-danger" href="{{path('impact_delete',{'idImpact' : impact.id })}}" > Supprimer </a> 
 
          </td>
    </tr>
    {% endfor %}

  </table>

                  </div>
                  </div>
                </div>
              </div>
        </div>



{% endblock %}

 {% block javascripts %}
      {% javascripts '@AppBundle/Resources/public/js/bootstrap.min.js'
      '@AppBundle/Resources/public/js/custom.min.js'
      '@AppBundle/Resources/public/js/fastclick.js'
      '@AppBundle/Resources/public/js/ngprogress.js'
      '@AppBundle/Resources/public/js/switchery.min.js'
      %}
          <script src="{{ asset_url }}"></script>
      {% endjavascripts %}
      {% endblock %}

