@font-face {  
    font-family: "grobold";  
    src: url(polices/grobold.ttf ); /* IE */  
    src: local("realfontname"), url("polices/grobold.ttf") format("truetype"); /*non-IE*/  
}
@font-face { 
    font-family: "futura";
    src: url(polices/6474915457.ttf ); /* IE */
    src: local("realfontname"), url("polices/6474915457.ttf") format("truetype"); /*non-IE*/
}
