{% extends 'dashboard.html.twig' %}

{% block header %}
    <script
  src="https://code.jquery.com/jquery-2.2.4.min.js"
  integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44="
  crossorigin="anonymous"></script>


  {% block stylesheets %}

    {% stylesheets '@AppBundle/Resources/public/css/*' filter='cssrewrite' %}
    <link rel="stylesheet" href="{{ asset_url }}" />
    {% endstylesheets %}

     {% endblock %}
{% endblock %}

{% block body %}

{% set pageTitle = " Ajouter Template "%}

<div class="right_col" role="main" style="min-height: 478px;">

        <div class="row">
              <div class="col-md-12 col-sm-12 col-xs-12">
              <div style="margin-bottom:4px;">  
                <small> <a href="/"> Accueil </a> >  <a href="/template/add">  <span style="color:red"> Ajouter un template  </span>  </a>  </small>
              </div>
                <div class="x_panel">
                  <div class="x_title">
                    <h2> Création d'un nouveau template de mail d'information </h2>
                    <ul class="nav navbar-right panel_toolbox">
                      <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                      </li>
                    </ul>
                    <div class="clearfix"></div>
                  </div>
                  <div class="x_content">
                    <br>
		    
                    {% for flash_message in app.session.flashBag.get('Erreur') %}
                          <div class="alert alert-danger alert-dismissible fade in" role="alert">
                              {{ flash_message }}
                          </div>
                      {% endfor %}

                        {% for flash_message in app.session.flashBag.get('Notice') %}
                          <div class="alert alert-warning alert-dismissible fade in" role="alert">
                              {{ flash_message }}
                          </div>
                      {% endfor %}

                      {% for flash_message in app.session.flashBag.get('success') %}
                          <div class="alert alert-success alert-dismissible fade in" role="alert">
                              {{ flash_message }}
                          </div>
                      {% endfor %}


{{ form_start(form, { 'attr' : { 'id' : 'demo-form2', 'data-parsley-validate': '', 'class' : 'form-horizontal form-label-left', 'novalidate': ''  } } ) }}

  <div class="form-group">
    <label class="control-label col-xl-md-3 col-sm-3 col-xs-12" for="last-name"> Client  <span class="required">*</span>
  </label>
    <div class="col-md-6 col-sm-6 col-xs-12">
  {{ form_widget(form.client, {'attr' : {'class' : 'form-control col-md-7 col-xs-12', 'placeholder' : 'Client' } }) }}
    </div>
 </div>

  <div class="form-group">
    <label class="control-label col-xl-md-3 col-sm-3 col-xs-12" for="last-name"> Adresses d'envoi  <span class="required">*</span>
  </label>
    <div class="col-md-6 col-sm-6 col-xs-12">
  {{ form_widget(form.destinataires, {'attr' : {'class' : 'form-control col-md-7 col-xs-12', 'placeholder' : 'exemple@cdiscount.com;' } }) }}
    </div>
 </div>


   <div class="form-group">
    <label class="control-label col-xl-md-3 col-sm-3 col-xs-12" > Adresses d'envoi en copie  
  </label>
    <div class="col-md-6 col-sm-6 col-xs-12">
  {{ form_widget(form.destEnCopie, {'attr' : {'class' : 'form-control col-md-7 col-xs-12', 'placeholder' : 'exemple@cdiscount.com;' } }) }}
    </div>
 </div>


    <div class="form-group">
    <label class="control-label col-xl-md-3 col-sm-3 col-xs-12" for="last-name"> Commentaire 
  </label>
    <div class="col-md-6 col-sm-6 col-xs-12">
  {{ form_widget(form.commentaire, {'attr' : {'class' : 'form-control col-md-7 col-xs-12' } }) }}
    </div>
 </div>

     <div class="form-group">
    <label class="control-label col-xl-md-3 col-sm-3 col-xs-12" for="last-name"> Sujet  <span class="required">*</span>
  </label>
    <div class="col-md-6 col-sm-6 col-xs-12">
  {{ form_widget(form.sujet, {'attr' : {'class' : 'form-control col-md-7 col-xs-12'} }) }}
    </div>
 </div>


     <div class="form-group">
    <label class="control-label col-xl-md-3 col-sm-3 col-xs-12" for="last-name"> Catégorie   
  </label>
    <div class="col-md-6 col-sm-6 col-xs-12">
  {{ form_widget(form.categorie, {'attr' : {'class' : 'form-control col-md-7 col-xs-12'} }) }}
    </div>
 </div>


      <div class="form-group">
    <label class="control-label col-xl-md-3 col-sm-3 col-xs-12" for="last-name"> Variables personnalisées   <span class="required">*</span>
  </label>
    <div class="col-md-6 col-sm-6 col-xs-12">
        <table>
        <tr>
          <td class="variables" data-prototype="{{ form_widget(form.variables.vars.prototype)|e('html_attr') }}"></td>
        </tr>
      </table> <br>
      <div class="addTag" id="addTag"> </div>
          </div>
 </div>


      <div class="form-group">
    <label class="control-label col-xl-md-3 col-sm-3 col-xs-12" for="last-name"> Template   <span class="required">*</span>
  </label>
    <div class="col-md-6 col-sm-6 col-xs-12">
  {{ form_widget(form.template, {'sujet' : {'class' : 'form-control col-md-7 col-xs-12'} }) }} <br>
  <input type="submit" class="btn btn-success" value="Valider"> </input>
    </div>
 </div>






{{ form_end(form) }}

                  </div>
                  </div>
                </div>
              </div>
        </div>

{% endblock %}



 {% block javascripts %}
	    	    {% javascripts '@AppBundle/Resources/public/js/bootstrap.min.js'
			'@AppBundle/Resources/public/js/custom.min.js'
			'@AppBundle/Resources/public/js/fastclick.js'
			'@AppBundle/Resources/public/js/ngprogress.js'
			'@AppBundle/Resources/public/js/switchery.min.js'
			'@AppBundle/Resources/public/js/template.js'
       '@AppBundle/Resources/public/js/fullscreen.js'
       '@AppBundle/Resources/public/js/underscore_append.js'
	    %}
	        <script src="{{ asset_url }}"></script>
	    {% endjavascripts %}
      {% endblock %}
