{% extends 'dashboard.html.twig' %}

{% block header %}
<script
  src="https://code.jquery.com/jquery-2.2.4.min.js"
  integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44="
  crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/switchery/0.8.2/switchery.min.js"> </script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/switchery/0.8.2/switchery.min.css">

<script src="https://cdn.datatables.net/1.10.15/js/jquery.dataTables.min.js"></script>
<link rel="stylesheet" href="https://cdn.datatables.net/1.10.15/css/jquery.dataTables.min.css"/>

  {% block stylesheets %}

    {% stylesheets '@AppBundle/Resources/public/css/*' filter='cssrewrite' %}
    <link rel="stylesheet" href="{{ asset_url }}" />
    {% endstylesheets %}

     {% endblock %}
{% endblock %}

{% block body %}

<div class="right_col" role="main" style="min-height: 3742px;">
<div class="row">
          <div class="col-md-12 col-sm-12 col-xs-12">
                        <div style="margin-bottom:4px;">  
                <small> <a href="/"> Accueil </a> >  <a href="/template/list">  <span style="color:red"> Liste des templates  </span>  </a>  </small>
              </div>
            <div class="x_panel">
              <div class="x_title">
                <h2> Raccourcis  </h2>
                <ul class="nav navbar-right panel_toolbox">
                  <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                  </li>

                </ul>
                <div class="clearfix"></div>
              </div>
              <div class="x_content">
                <br>

                <a class="btn btn-app" href="/template/add">
                  <i class="fa fa-plus"></i> Ajouter template
                </a>

<script>
$('#datatable').dataTable( {
  "search": {
    "caseInsensitive": false
  }
} );

</script>


</table>


</div>
</div>
          </div>
          </div>

  <div class="row">
              <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="x_panel">
                  <div class="x_title">
                    <h2> Liste des templates  </h2>
                    <ul class="nav navbar-right panel_toolbox">
                      <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                      </li>
                    </ul>
                    <div class="clearfix"></div>
                  </div>
                  <div class="x_content">
                    <br>
  {% for flash_message in app.session.flashBag.get('success') %}
    <div class="alert alert-success alert-dismissible fade in" role="alert">
        {{ flash_message }}
    </div>
{% endfor %}

{% for flash_message in app.session.flashBag.get('Erreur') %}
    <div class="alert alert-danger alert-dismissible fade in" role="alert">
        {{ flash_message }}
    </div>
{% endfor %}

{% for flash_message in app.session.flashBag.get('notice') %}
    <div class="alert alert-warning alert-dismissible fade in" role="alert">
        {{ flash_message }}
    </div>
{% endfor %}





  <div id="datatable_wrapper" class="dataTables_wrapper form-inline dt-bootstrap no-footer">

<table  id="datatable" class="table table-striped table-bordered dataTable no-footer" role="grid" aria-describedby="datatable_info" role="grid" aria-describedby="datatable_info">
<thead>
<tr role="row">
<th> Catégorie  </th>
<th> Client </th>
<th> Etat  </th>
<th> Commentaire </th>
<th> Sujet </th>
<th> Actions </th>
</tr>
</thead>

{% for template in templates %}
	<tr>
		<td>
			{% for entry in template.categorie %}
				{{ entry.nomCategorie }}
			{% endfor %}
		</td>
        <td> {{ template.client.clientName }} </td>
        <td> 

         {% set link =path('template_deactivate',{'id' : template.Id }) %}
        {% if template.activationStatus == true %}
                  
                  
                   Actif
          {% else %}
                   Inactif 
          {% endif %}
        </td>
        <td> {{ template.commentaire }} </td>
        <td> {{ template.sujet }}</td>
		<td>
<a href="{{path('template_update',{'idTemplate' : template.Id})}}" class="btn btn-default btn-xs"><i class="glyphicon glyphicon-pencil"> </i>  Mettre à jour </a>
{% if template.activationStatus == true %}
<a href="{{path('template_diffusion_send',{'idTemplate' : template.Id})}}" class="btn btn-default btn-xs"><i class="glyphicon glyphicon-envelope"> </i>  Envoyer Mail </a>
{% endif %}

{% if template.activationStatus == true %}
<a href="{{path('template_deactivate',{'id' : template.Id})}}" class="btn btn-default btn-xs"><i class="glyphicon glyphicon-remove"> </i>  Désactiver </a>
{% else %}
<a href="{{path('template_deactivate',{'id' : template.Id})}}" class="btn btn-default btn-xs"><i class="glyphicon glyphicon-ok"> </i>  Activer </a>
{% endif %}




     </td>
    </tr>


{% endfor %}

</table>

				  </div>
				  </div>
				</div>
			  </div>
  </div>
</div>



{% endblock %}

 {% block javascripts %}
	    {% javascripts 
      '@AppBundle/Resources/public/js/bootstrap.min.js'
			'@AppBundle/Resources/public/js/custom.min.js'
			'@AppBundle/Resources/public/js/fastclick.js'
			'@AppBundle/Resources/public/js/ngprogress.js'
			'@AppBundle/Resources/public/js/switchery.min.js'
       '@AppBundle/Resources/public/js/fullscreen.js'
			 %}
	        <script src="{{ asset_url }}"></script>
	    {% endjavascripts %}
      {% endblock %}
